---
import Shell from "../components/shell.astro";
---
<Shell title="About">


  <h1 class="sectionTitle glitch" data-text="/about">/about</h1>

  <p>
    We are researchers, bug hunters, students, and defenders. 
    Distributed, pseudonymous, united by curiosity.
  </p>
</Shell>
